.container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}

.group-list {
  flex: 1;
  margin-right: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content:space-around;
  gap: 10px;
  margin-top: 10px;
  width: auto
}

.icon {
  cursor: pointer;
  font-size: 30px;
  color: #007bff;
  background-color: rgb(225, 225, 225);
  padding: 10px;
  border-radius: 5px;
}

.icon:hover {
  color: #0056b3;
}

