.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.group-list {
  flex: 1;
  margin-right: 20px;
}

.status-display {
  flex: 1;
}



.delete-icon {
  cursor: pointer;
  font-size: 30px;
  color: #000000;
  background-color: rgb(225, 225, 225);
  padding: 5px;
  border-radius: 5px;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}
.group>input{
    width: 180px;
    height: 30px;
    border-radius: 5px;
}